footer {
	background-color: black;
	.container {
		padding: 50px 0;
		p {
			margin: 0 auto 20px;
			text-align: center;
			width: 65%;
			small {
				font-size: 14px;
				color: white;
			}
		}
	}
}
